doctype html
html
    head
        title Weather Web App
        style
            include ../public/css/indexStyle.css
            
    body#mainBody
        h1 Weather Web App
        form(method='post')
            input(type="text", name="city" placeholder="Enter the Name of the City")
            button(type='submit') Find the Weather

        h3
            canvas(id="weather-icon" height=12 width=12)
            h2 #{weather}
        h2#weatherType #{weatherType}

        script 
            include ../js/index.js