doctype html
html
    head
        title Weather Web App
        style
            include ../public/css/indexStyle.css
    
       
        style body{background-image: url(#{urlPic})}
            
    body#mainBody 
        div#mainTitle
            h1 Weather Web App

        div#weatherPanel
            h2#weatherString #{weather} 
            form(method='post')#weatherInput
                input(type="text", name="city" placeholder="Enter the Name of the City")
                button(type='submit') Get the Weather

        script
            include ../js/index.js